#IC .body .options_wrap {
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-top: 20px;
}

#IC .body .options_wrap .title {
    width: 100%;
    float: left;
    font-family: "Poiret One", sans-serif;
    font-size: 32px;
    border-bottom: solid 1px #999;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#IC .body .options_wrap .option {
    width: 100%;
    float: left;
    margin: 10px 0 0 0;
}

#IC .body .options_wrap .option3 {
    border: solid 1px #999;
}

#IC .body .options_wrap .option p {
    font-size: 18px;
    font-family: "Oxygen", sans-serif;
    float: left;
    margin-left: 20px;
    margin-top: 8px;
}

#IC .body .options_wrap .option .account_choice_text {
    width: 80%;
    text-align: justify;
}

#IC .body .options_wrap .option p span {
    text-decoration: underline;
}

#IC .body .options_wrap .option2 p {
    width: 250px;
}

#IC .body .options_wrap .option input {
    width: 200px;
    height: 40px;
    float: left;
    margin-left: 5%;
    padding: 5px 10px 2px 10px;
    border-radius: 10px;
    border: solid 1px #999;
    color: #888;
    font-size: 18px;
    background: rgba(245, 245, 245, 0.4);
    margin-bottom: 10px;
    font-family: "Oxygen", sans-serif;
}

#IC .body .options_wrap .option .img_option {
    float: left;
    padding: 20px 20px 20px 20px;
    margin-left: 20px;
    border: solid 1px #333;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#IC .body .options_wrap .option .img_option img {
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 5px;
}

#IC .body .options_wrap .option .scheme {
    width: 400px;
    height: 50px;
    float: left;
}

#IC .body .options_wrap .option3 .scheme input {
    height: 20px !important;
    float: left;
    width: 20px !important;
    margin-right: 50px;
    cursor: pointer;
}

#IC .body .options_wrap .option .scheme .color_block {
    width: 20px;
    height: 20px;
    float: left;
}

#IC .body .options_wrap .option3 p {
    width: 100% !important;
}

#IC .body .options_wrap .option3 .button {
    float: left !important;
}

#IC .body .options_wrap .option3 .configurator {
    widows: 300px;
    height: 50px;
    float: left;
    margin-left: 20px;
}

#IC .body .options_wrap .option3 .configurator span {
    height: 50px;
    padding: 0 20px 0 20px;
    float: left;
    font-family: "Poiret One", sans-serif;
    font-size: 32px;
}

#IC .body .options_wrap .option3 .sub input {
    height: 20px !important;
    width: 20px;
    float: left;
    cursor: pointer;
}

#IC .body .options_wrap .option3 .sub p {
    float: right !important;
    width: auto !important;
    margin-top: -30px !important;
}

#IC .body .options_wrap .option3 .sub {
    height: 30px;
    float: left;
    /*background: rgba(97, 191, 0, 0.4);*/
    padding: 10px 20px 10px 20px;
    border: solid 1px #666;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

#IC .body .options_wrap .option4 .button {
    float: right !important;
    margin-bottom: 30px;
}

#IC .body .options_wrap .config_window {
    background: url(../img/honeycomb.png) repeat;
}

#ui_panel {
    width: 900px !important;
}

#ui_panel .builder_option_wrap {
    float: left;
    width: 280px;
}

#ui_panel .builder_option_wrap .header {
    float: left;
    padding-bottom: 20px;
    margin-left: 40px;
}

#ui_panel .builder_option_wrap .point_set {
    float: left;
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 30px;
    border-top: dashed 1px #666;
}
#ui_panel .builder_option_wrap .point_set .side {
    float: left;
    width: 100%;
    margin-left: 40px;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: "Poiret One", sans-serif;
}

#ui_panel .builder_option_wrap .point_set .set {
    float:left;
    padding 10px 0px 10px 0px;
}

#ui_panel .builder_option_wrap .point_set .set p {
    float: left;
    margin-left: 20px;
    padding-top: 10px;
}
