body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    overflow-x: hidden;
    min-width: 1000px;
    background: #F5F5F5;
}

#toolbar {
    width: 110%;
    height: 50px;
    margin-left: -5%;
    margin-top: -10px;
    position: relative;
    border-bottom: solid 1px #666;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.75);
}

#toolbar .bar {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

#toolbar .bar .logo {
    float: left;
    width: 180px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    border-left: solid 1px #999;
    border-right: solid 1px #999;
    background: linear-gradient(#FCFCFC, #EEE);
}

#toolbar .bar .logo span {
    font-weight: bold;
    font-size: 24px;
}

#toolbar .bar .logo sup {
    color: #0DA8BF;
}

#toolbar .bar .button {
    margin-top: 6px;
    float: right;
}

#footer {
    width: 110%;
    margin-left: -5%;
    position: relative;
}

#footer .divider {
    width: 100%;
    height: 10px;
    -webkit-box-shadow: 0px -4px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px -4px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px -4px 10px 0px rgba(50, 50, 50, 0.75);
}

#footer .info {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    color: #999;
}

#footer .info span {
    color: #0DA8BF;
    font-weight: bold;
}

#ui_wrap {
    width: 110%;
    margin-left: -5%;
    background: url(../img/honeycomb.png) repeat;
}

#ui_panel {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
}

#ui_panel .window {
    width: 600px;
    height: 800px;
    float: left;
    border: solid 1px #666;
}

#ui_panel .window .bottom {
    width: 100%;
    height: 100%;
    float: left;
}

#ui_panel .window .bottom img {
    width: 96%;
    height: 100%;
    margin-left: 2%;
}

#ui_panel .window .top {
    width: 100%;
    height: 100%;
    float: left;
    margin-top: -800px;
}

#ui_panel .control {
    width: 380px;
    height: auto;
    float: left;
    -webkit-box-shadow: 0px 0px 22px 4px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 22px 4px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 22px 4px rgba(50, 50, 50, 0.75);
}

#ui_panel .control .tile {
    height: auto;
    width: 100%;
    float: left;
    margin-top: 3px;
    padding-top: 30px;
    padding-bottom: 10px;
    background: rgba(245, 245, 245, 1);
}

#ui_panel .control .tile:nth-child(1) {
    margin-top: 0px !important;
}

#ui_panel .control .tile .button_wrap {
    width: 80%;
    float: left;
    margin-left: 10%;
}

#ui_panel .control .title div:nth-child(1) {
    width: 80%;
    float: left;
    margin-left: 10%;
    margin-top: -10px;
    font-size: 18px;
}

#ui_panel .control .title div:nth-child(2) {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    float: left;
    border-bottom: solid 1px #666;
}

#ui_panel .button, #toolbar .button {
    float: left;
    padding: 10px 15px 10px 15px;
    margin-left: 18px;
    margin-top: 10px;
    background: linear-gradient(#FCFCFC, #EEE);
    border: solid 1px #999;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

#ui_panel .button .info {
    color: #FF3624;
}

#ui_panel .control .button_wrap, #ui_panel .control .pain_wrap  {
    float: left;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 10px;
    border: dashed 1px #666;
    padding-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#ui_panel .control .subtitle {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 15px;
}

#ui_panel .control .pain_wrap div:nth-child(2) {
    width: auto;
    float: left;
    margin-left: 50px;
}

#ui_panel .control .pain_wrap div:nth-child(2) div {
    width: 10px;
    text-align: center;
}

#ui_panel .control .pain_wrap .value_field {
    width: auto !important;
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
    margin-left: 18px !important;
    float: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #FFF;
    border: solid 1px #999;
    text-align: center;
}

#ui_panel .button:hover {
    color: #0DA8BF;
}

#btnNWIJ {
    background: linear-gradient(#008FFF, #006BBF) !important;
    color: #F5F5F5 !important;
}

#btnNWIJ:hover {
    background: linear-gradient(#008FFF, #0080E5) !important;
    color: #F5F5F5 !important;
}

#ui_panel .warning_button:hover {
    color: #FF3624 !important;
}

#ui_panel .add_button {
    background: linear-gradient(#81FF00, #61BF00) !important;
    color: #FFF !important;
}

#ui_panel .add_button:hover {
    color: #333 !important;
}

#ui_panel .control .note_wrap {
    width: 80%;
    height: auto;
    float: left;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-top: 10px;
    border: dashed 1px #333;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#ui_panel .control .note_wrap .value_wrap {
    width: 100%;
    float: left;
    margin-left: 8px;
    margin-top: 10px;
}

#ui_panel .control .note_wrap .value_wrap input {
    width: 40px;
    height: 40px;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    float: left;
    margin-left: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: solid 1px #999;
    text-align: center;
}

#ui_panel .control .note_wrap .value_wrap span {
    float: left;
    height: 40px;
    font-size: 40px;
    margin-left: 5px;
    color: #999;
}

#ui_panel .control .note_wrap .value_wrap .hour {
    margin-top: -5px;
}

#ui_panel .control .note_wrap textarea {
    overflow: hidden;
    width: 90%;
    height: 80px;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    resize: none;
}

#ui_panel .config_panel {
    width: 80%;
    height: auto;
    float: left;
    padding-bottom: 30px;
    margin-top: -750px;
    margin-left: 10%;
    background: #F5F5F5;
    -webkit-box-shadow: 0px 0px 22px 4px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 22px 4px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 22px 4px rgba(50, 50, 50, 0.75);
    display: none;
    position: relative;
}

#ui_panel .config_panel .header {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

#ui_panel .config_panel .header div {
    float: right;
    background: #666;
    width: 32px;
    height: 32px;
    font-size: 25px;
    color: #FFF;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    font-family: monospace;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

#ui_panel .config_panel .note_wrap {
    width: 90%;
    float: left;
    margin-left: 5%;
    border: dashed 1px #666;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
}

#ui_panel .config_panel .note_wrap:hover .title {
    color: #0DA8BF;
}

#ui_panel .config_panel .note_wrap:hover .button {
    color: #333;
}

#ui_panel .config_panel .note_wrap .title {
    font-size: 18px;
    font-style: italic;
    margin: 10px 0px 0px 20px;
    padding-top: 10px;
}

#noteFormWrap {
    float: left;
    width: 90%;
    margin-left: 5%;
    border: dashed 1px #666;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-top: 10px;
}

#noteFormWrap input {
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: solid 1px #999;
}

#noteFormWrap textarea {
    resize: none;
    width: 90%;
    float: left;
    height: 100px;
    margin-left: 5%;
    margin-top: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: solid 1px #999;

}

#noteFormWrap .button_wrap {
    width: 90%;
    float: left;
    margin-left: 25%;
    padding-bottom: 15px;
}

#ui_panel .config_panel .note_wrap .title .button {
    float: right;
    margin-right: 20px;
    margin-top: -10px !important;
    font-size: 12px;
}

#ui_panel .config_panel .note_wrap .note {
    width: 90%;
    float: left;
    margin-left: 5%;
    padding: 10px 0px 10px 0px;
    font-size: 14px;
    word-wrap: break-word;
    display: none;
}

#tooltip {
    width: 200px;
	height: 80px;
	position: relative;
}

#tooltip .box {
	width: 100%;
	height: 60px;
	float: left;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	-webkit-box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.75);
    cursor: pointer;
}

#tooltip .triangle {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	/*border-top: 20px solid #FF7300;*/
    opacity: 0.8;
	margin-left: 10px;
	float: left;
}

#tooltip .box .pain {
    width: 30%;
    height: 100%;
	float:left;
    opacity: 0.7;
}

#tooltip .box .tminus {
	width: 70%;
	height: 100%;
	float: left;
    box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
    background: #FFF;
}

#tooltip .box .pain div {
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	text-align: center;
	font-size: 35px;
	color: #000;
}

#tooltip .box .tminus div{
	width: 100%;
	height: 100%;
	float: left;
	margin-top: 15px;
    font-style: italic;
	text-align: center;
	font-size: 25px;
}
